# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
env/
.venv/

# ===============================
# Django
# ===============================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Migrations (optional)
# ===============================
# Uncomment if you don't want to track migrations
# **/migrations/

# ===============================
# IDEs & Editors
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Test & coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build & cache
# ===============================
build/
dist/
*.egg-info/
